
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
   <title> Restaurant </title>

  {% block cssblock %}
  {% endblock %}
</head>

<body>

  {% include 'home/navbar.html' %}

  {% block content %}
  {% endblock %}

  {% include 'home/footer.html' %}

  {% block jsblock %}
  {% endblock %}
</body>
</html>