{% extends 'admin/base.html' %}
{% load static %}

{% block cssblock %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <link rel="stylesheet" href="{% static 'admin/jquery-ui-datepicker/jquery-ui.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/templatemo-style.css' %}">
{% endblock %}


{% block content %}
 <div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <form method="POST" enctype="multipart/form-data" class="tm-edit-product-form">
                            {% csrf_token %}
                            <!-- Product Name -->
                            <div class="form-group mb-3">
                                <label for="name">Product Name</label>
                                <input id="name" name="name" type="text" class="form-control validate" required value="{{ form.name.value }}" />
                            </div>

                            <!-- Description -->
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <textarea id="description" name="description" class="form-control validate" rows="3" required>{{ form.description.value }}</textarea>
                            </div>

                            <!-- Category -->
                            <div class="form-group mb-3">
                                <label for="category">Category</label>
                                <select id="category" name="category" class="custom-select tm-select-accounts">
                                    {% for category in categories %}
                                    <option value="{{ category.id }}" {% if form.category.value == category.id %}selected{% endif %}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Expire Date and Stock -->
                            <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="price">Price</label>
                                    <input id="price" name="expire_date" type="text" class="form-control validate" required value="{{ form.price.value }}" />
                                </div>
                            </div>

                    </div>

                    <!-- Upload Product Image -->
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                        <div class="tm-product-img-dummy mx-auto">
                            <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
                        </div>
                        <div class="custom-file mt-3 mb-3">
                            <!-- Hide the default Django field -->
                            {{ form.url_img }}
                            <input id="fileInput" name="url_img" type="file" style="display:none;" />
                            <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE" onclick="document.getElementById('fileInput').click();" />
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block jsblock %}
{% endblock %}