
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->


    {% block cssblock %}
    {% endblock %}
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
    <style>
        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          accent-color: blue; /* Đặt màu cho dấu tích */
        }

        input[type="checkbox"]:checked {
          background-color: grey; /* Màu nền khi chọn */
          border: 2px solid gray; /* Đường viền khi chọn */
        }


    </style>
</head>

<body id="reportsPage">
    <div class="home">
        {% include 'dashboard/navbar.html' %}

        {% block content %}
        {% endblock %}

        {% include 'dashboard/footer.html' %}

        {% block jsblock %}
        {% endblock %}
    </div>
</body>
</html>
