{% extends 'dashboard/base.html' %}
{% load static %}


{% block cssblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/templatemo-style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <form method="POST" action="{% url 'delete_selected' %}">
            {% csrf_token %}
            <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
                <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;&nbsp;</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                {% for dish in dishes %}
                  <tr>
                    <th scope="row"><input type="checkbox" name="selected_dishes" value="{{ dish.id }}" /></th>
                    <td class="tm-product-name">
                        <a href="{% url 'product_detail' dish.id %}">{{ dish.name }}</a>
                    </td>
                    <td>{{ dish.price }}</td>
                    <td>
                      <a href="{% url 'delete_dish_view' dish.id %}" class="tm-product-delete-link" onclick="return confirmDelete();">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
              href="{% url 'add_product' %}"
              class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
            <button class="btn btn-primary btn-block text-uppercase">
              Delete selected products
            </button>
          </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Product Categories</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table">
                <tbody>
                {% for category in categories %}
                  <tr>
                    <td class="tm-product-name">{{ category.name}}</td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <button class="btn btn-primary btn-block text-uppercase mb-3">
              Add new category
            </button>
          </div>
        </div>
      </div>
    </div>

<script>
  function confirmDelete() {
      return confirm("Are you sure you want to delete this product?");
  }
</script>

<script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>

{% endblock %}

{% block jsblock %}
  <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
{% endblock %}