{% extends 'dashboard/base.html' %}
{% load static %}

{% block cssblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/templatemo-style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block content %}
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Edit Product</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <form action="{% url 'edit_product' product.id %}" method="post" enctype="multipart/form-data" class="tm-edit-product-form">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="name">Product Name</label>
                <input
                  id="name"
                  name="name"
                  type="text"
                  value="{{ product.name }}"
                  class="form-control validate"
                />
              </div>
              <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea
                  id="description"
                  name="description"
                  class="form-control validate tm-small"
                  rows="5"
                  required
                >{{ product.description }}</textarea>
              </div>
              <div class="form-group mb-3">
                <label for="category">Category</label>
                <select
                  class="custom-select tm-select-accounts"
                  id="category"
                  name="category"
                >
                  <option value="">Select category</option>
                  {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>
                      {{ category.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="price">Price</label>
                <input
                  id="price"
                  name="price"
                  type="text"
                  value="{{ product.price }}"
                  class="form-control validate"
                />
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
            <div class="tm-product-img-edit mx-auto">
              <img src="{{ product.url_img.url }}" alt="Product image" class="img-fluid d-block mx-auto">
              <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
            </div>
            <div class="custom-file mt-3 mb-3">
              <input id="fileInput" type="file" name="url_img" style="display:none;" />
              <input
                type="button"
                class="btn btn-primary btn-block mx-auto"
                value="CHANGE IMAGE NOW"
                onclick="document.getElementById('fileInput').click();"
              />
            </div>
          </div>
          <div class="col-12">

              <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>

          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}


{% block jsblock %}
    <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin/jquery-ui-datepicker/jquery-ui.min.js' %}"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
{% endblock %}