{% extends 'dashboard/base.html' %}
{% load static %}

{% block cssblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/templatemo-style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<h2>Weekly Report</h2>
<form method="GET">
    <label for="week">Select a week:</label>
    <input type="week" id="week" name="week" value="{{ week_str }}">
    <button type="submit">Generate Weekly Report</button>
</form>

{% if weekly_data %}
    <h3>Report for the week: {{ start_date|date:"d/m/Y" }} - {{ end_date|date:"d/m/Y" }}</h3>
    <h4>Products Sold:</h4>
    <table>
        <tr>
            <th>Dish Name</th>
            <th>Total Quantity Sold</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
        {% for data in weekly_data %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.quantity }}</td>
            <td>{{ data.unit_price }}</td>
            <td>{{ data.total }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Button to export report -->
    <form action="{% url 'export_report' 'weekly' %}" method="get">
        <input type="hidden" name="week" value="{{ week_str }}">
        <button type="submit">Export Weekly Report</button>
    </form>
{% endif %}


{% endblock %}


{% block jsblock %}
       <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin/js/moment.min.js' %}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{% static 'admin/js/Chart.min.js' %}" ></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{% static 'admin/js/tooplate-scripts.js' %}"></script>
{% endblock %}